<mat-toolbar>
  <!-- E-mail do usuário -->
  <span class="user-info">
    <mat-icon>email</mat-icon>
    {{ usuario?.email }}
  </span>

  <span *ngIf="roles.includes('ROLE_ADMIN_GERAL')" class="user-info">
    <mat-icon>admin_panel_settings</mat-icon>
    <mat-label>Adminstrador do Sistema</mat-label>
  </span>

  <!-- Espaçador flexível -->
  <span class="example-spacer"></span>

  <!-- Nome e Perfis do usuário -->
  <span class="user-info">
    <mat-icon>account_circle</mat-icon>
    {{ usuario?.pessoa?.nome }}
  </span>

  <!-- Botão de dropdown -->
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'pessoas/update/' + usuario?.id">
      Editar Usuário
    </button>
    <button mat-menu-item [routerLink]="'pessoas/alterar-senha/' + usuario?.id">
      Alterar Senha
    </button>
    <button
      mat-menu-item (click)="logout()">Logout
    </button>
  </mat-menu>

</mat-toolbar>
