.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 1rem;
  border: 1px solid rgb(161, 159, 159);
  padding: 1rem 10%;
  border-radius: 2rem;
}

.user-info {
 display: flex;
 align-items: center;
 gap: 8px; /* Espaçamento entre o ícone e o texto */
 text-align: center;
 padding: 0 10px; /* Alinhamento ao centro */
}

/* Estilo para a barra de ferramentas */
.mat-toolbar {
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, #263238 0%, #37474F 100%);
 color: white; /* Cor do texto na barra de ferramentas */
 display: flex;
 align-items: center;
 padding: 0 16px; /* Espaçamento interno horizontal */
}

/* Estilo para o ícone de status */
.status-true mat-icon {
 color: green; /* Cor do ícone quando o status é verdadeiro */
}

/* Estilo para o ícone de status desativado */
.status-false mat-icon {
 color: red; /* Cor do ícone quando o status é falso */
}

/* Espaçador flexível */
.example-spacer {
 flex: 1; /* Ocupa o espaço disponível */
}

/* Estilo para o botão de dropdown */
.mat-icon-button {
 color: white; /* Cor do ícone do botão */
}

/* Estilo para o menu dropdown */
.mat-menu-content {
 background-color: #ffffff; /* Cor de fundo do menu */
 color: #333; /* Cor do texto no menu */
 box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); /* Sombra do menu */
}

/* Estilo para os itens do menu */
.mat-menu-item {
 padding: 8px 16px; /* Espaçamento interno dos itens do menu */
 text-transform: uppercase; /* Transforma o texto em maiúsculas */
 font-weight: bold; /* Peso da fonte dos itens do menu */
}
.user-actions {
display: flex;
align-items: center;
}

.user-actions mat-form-field {
margin-right: 10px;
}

.user-actions button {
margin-left: 10px;
}
