<div class="container mat-elevation-z8">
    <h1 class="full-width">Leitura de Departameto {{ departamento.nome }}</h1>
    <img class="full-width" src="assets/img/chamado-create.svg" alt="Chamado image">

    <!-- nome -->
    <form>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nome do Departamento</mat-label>
            <input readonly [(ngModel)]="departamento.nome" name="titulo" matInput
                placeholder="Ex. Trocar bateria de notebook">
        </mat-form-field>
    </form>

    <div class="row-container">
        <!-- data criação -->
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Data de Cadastro</mat-label>
            <input readonly [(ngModel)]="departamento.dataCriacao" name="dataCriacao" matInput
                [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    
        <!-- responsavel -->
        <mat-form-field *ngIf="departamento.responsavelAtual" class="full-width" appearance="outline">
            <mat-label>Nome do Responsavel pelo departamento</mat-label>
            <input readonly [(ngModel)]="departamento.responsavelAtual.nomeFuncionarioResponsavel"
                name="responsavelAtual" matInput placeholder="Responsável atual">
        </mat-form-field>
    </div>

    <!-- descrição -->
    <form class="descricao">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Descricões</mat-label>
            <textarea readonly [(ngModel)]="departamento.descricao" name="descricao" class="descricao"
                matInput></textarea>
        </mat-form-field>
    </form>

    <!-- botões -->
    <button routerLink="../../" class="full-width mat-elevation-z4" mat-stroked-button color="warn">Retornar</button>

</div>