<div class="container">
    <h1>Lista de Pessoas</h1>

    <button routerLink="create" class="mat-elevation-z8" mat-stroked-button color="primary">Cadastrar nova pessoa</button>


    <mat-form-field appearance="standard">
        <mat-label>Reliaze sua Busca aqui</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. pelo nome.." #input>
    </mat-form-field>

    <div class="mat-elevation-z8">

        <table mat-table [dataSource]="dataSource" >
            <caption>Tabela de Pessoas Cadastradas</caption>
            
            <!-- Id -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Nome -->
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.pessoa.nome}} </td>
            </ng-container>

            <!-- cpf -->
            <ng-container matColumnDef="cpf">
                <th mat-header-cell *matHeaderCellDef>E-Mail</th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- Email -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> CPF </th>
                <td mat-cell *matCellDef="let element"> {{element.pessoa.cpf | CPF }} </td>
            </ng-container>

            <!-- Telefone -->
            <ng-container matColumnDef="telefone">
                <th mat-header-cell *matHeaderCellDef> Celular </th>
                <td mat-cell *matCellDef="let element"> {{element.pessoa.telefone | telefone }} </td>
            </ng-container>

            <!-- Sexo -->
            <ng-container matColumnDef="sexo">
                <th mat-header-cell *matHeaderCellDef> Sexo </th>
                <td mat-cell *matCellDef="let element"> {{element.pessoa.sexo }} </td>
            </ng-container>

            <!-- Ativo -->
            <ng-container matColumnDef="ativo">
                <th mat-header-cell *matHeaderCellDef> ativo </th>
                <td mat-cell *matCellDef="let element"> {{ element.ativo ? 'Sim' : 'Não' }} </td>
             </ng-container>

             <!-- Cep -->
            <ng-container matColumnDef="cep">
                <th mat-header-cell *matHeaderCellDef> CEP</th>
                <td mat-cell *matCellDef="let element"> {{element.pessoa.endereco.cep}} </td>
            </ng-container>

            <!-- Rua -->
            <ng-container matColumnDef="rua">
                <th mat-header-cell *matHeaderCellDef> Rua</th>
                <td mat-cell *matCellDef="let element"> {{element.pessoa.endereco.rua}} </td>
            </ng-container>

            <!-- Numero -->
            <ng-container matColumnDef="numero">
                <th mat-header-cell *matHeaderCellDef> Número</th>
                <td mat-cell *matCellDef="let element"> {{element.pessoa.endereco.numero}} </td>
            </ng-container>

            <!-- Bairro -->
            <ng-container matColumnDef="bairro">
                <th mat-header-cell *matHeaderCellDef> Bairro</th>
                <td mat-cell *matCellDef="let element"> {{element.pessoa.endereco.bairro}} </td>
            </ng-container>

            <!-- Cidade -->
            <ng-container matColumnDef="cidade">
                <th mat-header-cell *matHeaderCellDef> Cidade</th>
                <td mat-cell *matCellDef="let element"> {{element.pessoa.endereco.cidade}} </td>
            </ng-container>

            <!-- Estado -->
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> Estado</th>
                <td mat-cell *matCellDef="let element"> {{element.pessoa.endereco.estado}} </td>
            </ng-container>

            <!-- Acoes -->
            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let element">
                    <a routerLink="update/{{ element.id }}">
                        <i class="material-icons edit">edit</i>
                    </a>
                    <a routerLink="delete/{{ element.id }}">
                        <i class="material-icons delete">delete</i>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 2, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>

</div>
