.container {
    width: 45%;
    margin: auto auto 3rem auto;
    padding: 1rem;
    border-radius: 1rem;
}

.full-width {
    width: 100%;
}

.date {
    width: 40%;
}

h1,
img,
h2,
p,
h3 {
    text-align: center;
}

img {
    height: 20rem;
}

.descricao {
    min-height: 6rem;
    max-height: 10rem;
}

button {
    margin-top: .5rem;
}

p {
    margin-top: 3rem;
    opacity: .5;
}

.row-container {
    display: flex;
    justify-content: space-between;
}

.row-container mat-form-field {
    width: 49%;
}

h3::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    /* Espessura da linha */
    background-color: #007bff;
    /* Cor da linha */
    margin-top: 5px;
    /* Espaçamento entre o texto e a linha */
}

h3 {
    font-size: 15px;
    /* Ajuste o tamanho da fonte conforme necessário */
    font-weight: bold;
    margin-bottom: 10px;
    /* Adicione um espaçamento na parte inferior para separar dos campos */
    color: #333;
    /* Cor do texto */
}