<div class="container">
   <form class="form mat-elevation-z8">

      <h1>Bem vindo ao Sistema, Realize seu Login</h1>

      <img src="assets/img/login-image.svg" alt="Help Desk - Dicas de um DEV">

      <mat-form-field class="full-width" appearance="outline">
         <mat-label>E-mail</mat-label>
         <input 
         [formControl]="email"
         required
         [(ngModel)]="creds.email" 
         name="email" 
         matInput 
         placeholder="Ex. fulano@mail.com">
         <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
         <mat-label>Senha</mat-label>
         <input 
         [(ngModel)]="creds.senha" 
         name="senha" 
         [formControl]="senha" 
         required 
         matInput [type]="hide ? 'password' : 'text'" placeholder="Ex.. 1234">
         <button mat-icon-button matSuffix (click)="toggleVisualizarSenha()"
             [attr.aria-label]="hide ? 'Show password' : 'Hide password'" 
             [attr.aria-pressed]="hide">
             <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
         </button>
     </mat-form-field>

      <button (click)="logar()" [disabled]="!validaCampos()" class="full-width mat-elevation-z4" mat-stroked-button color="primary">Login</button>
      <button routerLink="/login-recuperar" class="full-width mat-elevation-z4" mat-stroked-button color="basic">Esqueceu a Senha?</button>
   </form>

</div>