<div class="container mat-elevation-z8">
    <form class="form">

        <h1 class="fullWidth">Logar como</h1>
        <img class="fullWidth" src="assets/img/admin-create.svg" alt="Help Desk">

        <mat-form-field class="fullWidth" appearance="outline">
            <mat-label>Login</mat-label>
            <input matInput placeholder="Login do Usuário" required matInput name="login"
                [formControl]="loginComoUsuario">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <button class="fullWidth mat-elevation-z4" [disabled]="!validaCampos()" mat-flat-button color="primary" (click)="logarComoUsuario()">
            Logar como Usuário
        </button>
        <span class="explanation">Essa funcionalidade permite que um super usuário utilize o login de outros usuários para logar e realizar auditorias usando o recurso de login impessoal.</span>
    </form>
</div>
