<mat-drawer-container class="container" autosize>
   <mat-drawer #drawer class="sidenav" mode="side">
      <img src="assets/img/side-image.svg" alt="Imagem de navegação">
      <mat-nav-list class="nav-list">
         <a mat-list-item routerLink="home">
            <i class="material-icons">home</i>
            Home
         </a>
         <a mat-list-item routerLink="empresas">
            <i class="material-icons">business</i>
            Empresa
         </a>
         <a mat-list-item routerLink="pessoas">
            <i class="material-icons">person</i>
            Pessoa
         </a>
         <a mat-list-item routerLink="cargos">
            <i class="material-icons">assignment_ind</i>
            Cargos
         </a>

         <a mat-list-item routerLink="funcionarios">
            <i class="material-icons">group</i>
            Funcionários
         </a>
         <a mat-list-item routerLink="departamentos">
            <i class="material-icons">work</i>
            Departamento
         </a>
         <a mat-list-item routerLink="responsavelDepartamentos">
            <i class="material-icons">assignment_turned_in</i>
            Responsavel Departamento
         </a>
         <a mat-list-item routerLink="vinculos">
            <i class="material-icons">turned_in</i>
            Vínculos
         </a>
         <a mat-list-item routerLink="tiposDemissao">
            <i class="material-icons">rotate_right</i>
            Tipo Demissão
         </a>
         <a mat-list-item routerLink="tiposDesconto">
            <i class="material-icons">money_off</i>
            Tipo Descontos
         </a>
         <a mat-list-item routerLink="registros/create">
            <i class="material-icons">query_builder</i>
            Registro de Horário
         </a>
         <a *ngIf="roles.includes('ROLE_ADMIN_GERAL')" mat-list-item routerLink="administracao">
            <i class="material-icons">how_to_reg</i>
            Administração
         </a>
         <a mat-list-item href="https://github.com/RodrigoAguiarS/helpdesk-front" target="_blank">
            <i class="material-icons">code</i>
            Github
         </a>
         <a mat-list-item (click)="logout()">
            <i class="material-icons">logout</i>
            Logout
         </a>
      </mat-nav-list>
   </mat-drawer>

   <div class="sidenav-content">
      <app-header></app-header>
      <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
         <mat-icon>menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
   </div>

</mat-drawer-container>