<div class="container mat-elevation-z8">
    <mat-card>
        <mat-card-title>Registro de horário de trabalho</mat-card-title>
        <mat-card-content>
            <img src="assets/img/registro-create.svg" alt="Imagem do lado do relógio">

            <div class="relogio">
                {{ hora | date: 'HH:mm:ss' }}
                <p>{{ data | date: 'dd \'de\' MMMM \'de\' yyyy' }}</p>
            </div>

            <mat-form-field class="fullWidth" appearance="outline">
                <textarea matInput placeholder="Observações"
                [formControl]="observacoes"></textarea>
            </mat-form-field>

            <button class="fullWidth mat-elevation-z4" mat-raised-button color="primary" 
            (click)="registrarPonto()">
                {{ registro.pontoRegistrado ? 'Registrar saída' : 'Registrar entrada'}}
            </button>

            <button class="fullWidth mat-elevation-z4" mat-raised-button color="primary" routerLink="/registros">
                Listar registros
            </button>
        </mat-card-content>
    </mat-card>
</div>
