.container {
    width: 50%;
    margin: auto auto 3rem auto;
    padding: 1rem;
    border-radius: 1rem;
 }
 .fullWidth {
    width: 100%;
 }
 
 h1, img, p, h3{
    text-align: center;
 }
 
 .checkbox-container {
    margin-right: 10px;
    justify-content: center;
    display: flex;
 }
 
 img {
    height: 15rem;
    margin: 10px 0;
 }
 
 .section {
    display: flex;
    justify-content: center;
 }
 
 .row-container {
    display: flex;
    justify-content: space-between;
 }
 
 .row-container mat-form-field {
    width: 49%;
 }
 
 button {
    margin-top: .5rem;
    margin-right: 10px;
 }
 
 p {
    margin-top: 3rem;
    opacity: .5;
 }
 .checkbox-label {
    margin-left: 5px;
 }
 
 h3::after {
   content: '';
   display: block;
   width: 100%;
   height: 2px;
   background-color: #007bff;
   margin-top: 5px;
 }
 
 h3 {
   font-size: 15px;
   font-weight: bold;
   margin-bottom: 10px;
   color: #333;
 }